@import url('https://fonts.google.com/specimen/Montserrat?query=mon');

:root {
    --primary-color: #0f4458;
    --secondary-color: #A0C4E2;
    --accent1-color: #AED1E6;
    --accent2-color: #C6DBF0;

    --heading-font: 'Montserrat', serif;
    --paragraph-font: 'Montserrat', serif;

    --nav-background-color: #85C7DE;
    --nav-link-color: #A0C4E2;
    --nav-hover-link-color: #AED1E6;
    --nav-hover-background-color: #C6DBF0;
}

body {
    max-width: 1200px;
    margin: 0 auto;

}

.hero {
    position: relative;
}

.hero img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;


}

h1 {
    position: absolute;
}

article {
    position: absolute;
    background-color: rgba(255, 255, 255, 0.8);
    /* set a semi-transparent white background color */
    opacity: 0.9;
    /* adjust the opacity to fit the design */
}

article img {
    float: right;
}

article p {
    margin-right: 50px;
    /* add some margin to the right of the paragraph to create space for the floated image */
}

header {
    display: grid;
    grid-template-columns: auto 1fr;
    border: solid 3rem var(--primary-color);
    
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: solid #0f4458;
    
}

