@import url(https://fonts.google.com/specimen/Montserrat?query=mon);
:root {
    --primary-color: #0f4458;
    --secondary-color: #A0C4E2;
    --accent1-color: #AED1E6;
    --accent2-color: #C6DBF0;

    --heading-font: 'Montserrat', serif;
    --paragraph-font: 'Montserrat', serif;

    --nav-background-color: #85C7DE
    --nav-link-color: #A0C4E2;
    --nav-hover-link-color: #AED1E6;
    --nav-hover-background-color: #C6DBF0;
}
body {
    max-width: 960px;
    padding: 20px;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: var(--heading-font);
    color: var(--primary-color);
}
header {
    padding: 20px;
    background-color: var(--accent1-color);
}
p {
    padding: 25px;
}
nav {
    background-color: var(--nav-background-color);
    font-size: 1.2rem;
    display: flex;
}

nav a {
    display: block;
    color: var(--nav-link-color);
    text-decoration: none;
    padding: 1rem;
}

nav a:link,
nav a:visited {
    color: var(--nav-link-color);
}

nav a:hover {
    color: var(--nav-hover-link-color);
    background-color: var(--nav-hover-background-color);
}